<h1>About</h1>
<p>Wik is a Ruby on Rails application to create private and public Markdown-based wikis</p>
<button class="social-btn">
  <%= link_to "Follow me on Github", "https://www.github.com/loganmartintran"%>
</button>
