<div class="content">
  <div class="text-center">
    <% if current_user.premium? %>
      <% flash[:notice] = "You are already subscribed to premium!" %>
      <% redirect root_path %>
    <% elsif current_user.admin? %>
      <% flash[:notice] = "You are an admin. There is no need to upgrade your account!" %>
      <% redirect root_path %>
    <% else %>
      <%= form_tag charges_path do %>
        <h4>Subscribe to Premium</h4>
        <div id="dropin-container"></div>
          <button class="btn btn-success btn-sm" id="submit-button">Subscribe to premium</button>
          <script src="https://js.braintreegateway.com/web/dropin/1.8.0/js/dropin.min.js"></script>
          <script>
            var button = document.querySelector('#submit-button');
            var token = "<%= @token %>";

            braintree.dropin.create({
              authorization: token,
              container: '#dropin-container',
              paypal: {
                flow: 'vault',
                amount: '10.00',
                currency: 'USD'
              }
            }, function (createErr, instance) {
                button.addEventListener('click', function () {
                  instance.requestPaymentMethod(function (err, payload) {
                    if (err) {
                      console.log('Error: ', err);
                    return;
                  }
                });
              });
            });
          </script>
        <% end %>
      <% end %>
  </div>
</div>
